<p>view-foro works!</p>
<div>
  <ul>
    <li *ngFor='let tema of temas' (click)='selectTema(tema)'>
      {{tema.titulo}} <button (click)='subir(tema.id)'>+</button>  <button (click)='bajar(tema.id)'>-</button> {{tema.ranking}}
    </li>
  </ul>
  <button (click)='mirarTema(selectedTema.id)'>Mirar tema</button>
  <button (click)='editarTema(selectedTema.id)'>Editar tema</button>
  <button [routerLink]="['/tema/crear', foro.id]">Crear tema</button>
  <button (click)='deleteTema(selectedTema.id)'>Eliminar Tema</button>
  <button (click)='moverAprobarTemas(foro.id)'>Aprobar temas</button>
  <button [routerLink]="['/foro/list']">volver</button>
</div>
