<p>view-tema works!</p>
<div>
  <ul>
    <li *ngFor='let comentario of comentarios' (click)='selectComentario(comentario)'>
      {{comentario.mensaje}} <button (click)='subir(comentario.id)'>+</button>  <button (click)='bajar(comentario.id)'>-</button> {{comentario.ranking}}
      <ul>
        <li *ngFor='let comentarioR of comentario.idRespuestas' (click)='selectComentario2(comentarioR)'>
          {{comentarioR.mensaje}} <button (click)='subir(comentarioR.id)'>+</button>  <button (click)='bajar(comentarioR.id)'>-</button> {{comentarioR.ranking}}
        </li>
      </ul>
    </li>
  </ul>
  <button [routerLink]="['/comentario/crear', tema.id, -6]">Crear comentario</button>
  <button (click)='editarComentario(tema.id)'>Editar comentario</button>
  <button (click)='answerComentario(selectedComentario.id, tema.id)'>responder comentario</button>
  <button (click)='deleteComentario(selectedComentario.id)'>Eliminar comentario</button>
  <button (click)='moverAprobarComentarios(tema.id)'>Aprobar comentarios</button>
  <button [routerLink]="['/foro/view', tema.foro.id]">volver a foro</button>
</div>
